#footer {
  background-color: var(--primary);
  padding-bottom: 150px;
}

.content-footer {
  margin-top: 5rem;
}

.kontak i {
  margin-bottom: 1rem;
}

.img-footer {
  width: 480px !important;
  height: 260px !important;
}
